<div class="content">
<div class="title"><h4>My Legos</h4>
<button type="button" name="button">
<a href="/sets/new">Add Set</a>
</button></div>
<br/>

  <% myLegos.sets.forEach(set => { %>
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
      <a href="/legos/mylegos/<%= set.id %>" class="img-card"><img src="<%= set.image %>" ><%= set.name %></a>
    </div></div></div></div>
  <% }); %>

</div>