<h2>New Lego Group</h2>
<form action="/collections" method="POST">
    <div class="form-group">
        <label for="name">NAME</label>
        <input type="text" class="form-control" id="name" name="name" />
    </div>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
</form>