html {
    padding:10px;

}
body {
    background: yellow;
    color: black;

}
nav.navbar {
    background: yellow;
}
a.navbar:hover {
    color:blueviolet;
}
.navbar-brand {
    background: url(/images/lego_bkgd_img.png);
    background-size: 200px;
    color: white;
    font-size: 25px;
    padding: 20px;
    text-decoration: cornflowerblue;
   
}
.jumbotron {
    background:none;
}
img.img-responsive {
    display: grid;
    max-width: 500px;
    border: 1px #6495ed;
}
p.set-content {
  display: flex;
  flex-wrap: wrap;

  
}

.index-img {
  max-width: 150px;
}
.index-item {
 

  max-width: 150px;
  height: 150px;

}